<footer class="page__footer">

  <div>

    <img src="/images/ico-arrow.svg" alt="arrow" />

  </div>

  <div>

    <nav>
      <li><a href="https://adalab.es">ARTICLES</a></li>
      <li><a href="https://adalab.es">BOOKS</a></li>
      <li><a href="https://adalab.es">EVENTS</a></li>
      <li><a href="https://adalab.es">REASONS</a></li>
      <li><a href="https://adalab.es">TIPS</a></li>
    </nav>

  </div>

  <div>

    <nav>
      <li><a href="https://adalab.es">TWITTER</a></li>
      <li><a href="https://adalab.es">INSTAGRAM</a></li>
      <li><a href="https://adalab.es">MASTODON.SOCIAL</a></li>
    </nav>

  </div>
  <p>&copy;2023</p>
  <p>we 🧡 components</p>
</footer>
