<header class="page__header">

  <div>

    <section class="hero">

      <h1 class="anonymousProxy">ANONYMOUS PROXY</h1>

      <P class="description1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</P>

    </section>

    <div class="hamburguer">
      <section class="menu"><a href="https://adalab.es"><img src="./images/ico-menu.svg" alt="menu" /></a></section>
    </div>

    <div class="scroll">
      <section class="scrollDown"><a href="#reasons"><img src="./images/ico-scroll-down.svg"
            alt="scrollDown" /></a></section>
    </div>

  </div>

</header>