<main>

  <div>

    <p>Insonmia Tips</p>

    <h2>Looking Through A Window</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam illum fugiat nostrum soluta nesciunt nemo
      voluptatem in, voluptas sed minus dolorem officia nam laudantium neque animi non accusantium exercitationem velit!
    </p>

    <button>Go</button>

  </div>

  <div>

    <h2>3 Reasons To Purchase</h2>

    <section>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </section>

    <section>
      <h3>Curabitur ac erat</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </section>

    <section>
      <h3>Morbi dictum</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </section>

    <button>More reasons</button>

  </div>

</main>