<main>

  <div class="insomniaTips">

    <p class="p1">Insonmia Tips</p>

    <h2 class="title1">Looking Through A Window</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam illum fugiat nostrum soluta nesciunt nemo
    </p>

    <div class="btnGo"><button class="btn">Go</button></div>

  </div>

  <div class="reasons">

    <h2 class="title2">3 Reasons To Purchase</h2>

    <section>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </section>

    <section>
      <h3>Curabitur ac erat</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </section>

    <section>
      <h3>Morbi dictum</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </section>

    <div>
      <button class="btnMore">More reasons</button>
    </div>

  </div>

</main>